.heroImg {
  background-image: image-set(
    url("../../assets/HeroImg.png") 1x,
    url("../../assets/heroImg2X.png") 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: rgba(252, 131, 44, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
