.filterDropdownLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #8a8a89;
  margin-bottom: 8px;
}
.filterDropdownButton {
  background: #fc832c;
  border-radius: 14px;
  padding-left: 18px;
  padding-right: 23px;
  height: 48px;
  width: 226px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #fbfbfb;
  transition: all 0.3s ease;
  margin-bottom: 32px;
}
.filterDropdownButton:hover {
  background: #f37113;
}
.filterDropdownList {
  border-radius: 14px;
  width: 226px;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  margin-top: 8px;
  position: absolute;
  z-index: 100;
  padding-left: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.filterDropdown {
  position: relative;
  margin-top: 64px;
}
.filterDropdownItem {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}
.filterDropdownItem:hover {
  color: rgba(25, 26, 21, 0.5);
}
.active {
  color: #191a15;
}
