.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 26px;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 41px;
}
.submitBtn {
  background: #fc832c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 30px;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: all 0.3s ease;
}
.submitBtn:hover {
  background: #f37113;
}
.submitBtn:active {
  scale: 0.9;
}
.submitBtn:disabled {
  background: rgba(252, 131, 44, 0.5);
  cursor: not-allowed;
}
.input {
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  padding-top: 16px;
  padding-left: 18px;
  padding-bottom: 16px;
  width: 100%;
  height: 52px;
  transition: all 0.3s ease;
}
.input:focus {
  outline: none;
  border-color: #f37113;
}
.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #191a15;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}
.inputWrap {
  position: relative;
}
.error {
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: 12px;
  color: red;
}
