.title {
  font-weight: 500;
  font-size: clamp(1.75rem, 4vw, 2.5rem);
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 1.625rem;
}

.description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 2.5625rem;
}

.submitBtn {
  background: #fc832c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1.875rem;
  height: 3.25rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: all 0.3s ease;
}

.submitBtn:hover {
  background: #f37113;
}

.submitBtn:active {
  scale: 0.9;
}

.submitBtn:disabled {
  background: rgba(252, 131, 44, 0.5);
  cursor: not-allowed;
}

.input {
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 0.75rem;
  padding: 1rem 1.125rem;
  width: 100%;
  height: 3.25rem;
  transition: all 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #f37113;
}

.input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #191a15;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  margin-bottom: 2.5rem;
}

.inputWrap {
  position: relative;
}

.error {
  position: absolute;
  bottom: -1.125rem;
  left: 0;
  font-size: 0.75rem;
  color: red;
}

.eyeBtn {
  position: absolute;
  right: 0.875rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.eyeBtn:hover {
  opacity: 1;
}
