.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fbfbfb;
  border-radius: 1.875rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);

  width: min(100%, 35.3125rem);
  padding: clamp(2rem, 5vw, 4rem);

  position: relative;
}

.closeBtn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.closeBtn:hover {
  transform: scale(1.1);
}

.closeBtn:active {
  transform: scale(0.9);
}
