.psychList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.loadMore {
  background: #fc832c;
  border-radius: 30px;
  padding: 14px 48px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: all 0.3s ease;
  margin-top: 64px;
  margin-bottom: 100px;
}
.loadMore:hover {
  background: #f37113;
}
.loadMore:active {
  transform: scale(0.9);
}
.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
