.image {
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 30px;
  padding: 12px;
  border: 2px solid rgba(252, 131, 44, 0.6);
  object-fit: cover;
}
.imageWrapper {
  position: relative;
  display: inline-block;
}
.imageWrapper::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  background-color: #38cd3e;
  border: 2px solid white;
  border-radius: 50%;
}
.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
  margin-bottom: 8px;
}
.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #191a15;
  margin-bottom: 24px;
}
.starPrice {
  display: flex;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
}
.card {
  position: relative;
  display: flex;
  width: 1184px;
  background: #fbfbfb;
  border-radius: 24px;
  gap: 24px;
  padding: 24px;
}
.rating {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #191a15;
  padding: 8px;
  border-right: 1px solid rgba(25, 26, 21, 0.1);
}
.priceSpan {
  color: #38cd3e;
}
.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #191a15;
  padding: 8px;
}
.detailsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 24px;
}
.detail {
  background: #f3f3f3;
  border-radius: 24px;
  padding: 8px 16px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}
.detailSpan {
  color: #191a15;
}
.about {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 14px;
}
.readMore {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #191a15;
}
.info {
  max-width: 992px;
}
.userAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(252, 131, 44, 0.2);
  border-radius: 100px;
  width: 44px;
  height: 44px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #fc832c;
}
.userName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #191a15;
  margin-bottom: 4px;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
}
.userLine {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.userStar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.userStarsCount {
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #191a15;
}
.userReview {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-top: 16px;
}
.makeAppointment {
  background: #fc832c;
  border-radius: 30px;
  padding: 14px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  height: 48px;
  transition: all 0.3s ease;
  margin-top: 40px;
}
.makeAppointment:hover {
  background: #f37113;
}
.makeAppointment:active {
  transform: scale(0.9);
}
