.image {
  display: block;
  width: 100%;
  max-width: 6rem;
  aspect-ratio: 1 / 1;
  border-radius: 1.875rem;
  padding: 0.75rem;
  border: 2px solid rgba(252, 131, 44, 0.6);
  object-fit: cover;
}

.imageWrapper {
  position: relative;
  display: inline-block;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #38cd3e;
  border: 2px solid white;
  border-radius: 50%;
}

.description {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #8a8a89;
  margin-bottom: 0.5rem;
}

.name {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  color: #191a15;
  margin-bottom: 1.5rem;
}

.starPrice {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 74rem;
  background: #fbfbfb;
  border-radius: 1.5rem;
  gap: 1.5rem;
  padding: 1.5rem;
}

.rating {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #191a15;
  padding: 0.5rem;
  border-right: 1px solid rgba(25, 26, 21, 0.1);
}

.priceSpan {
  color: #38cd3e;
}

.price {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #191a15;
  padding: 0.5rem;
}

.detailsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-bottom: 1.5rem;
}

.detail {
  background: #f3f3f3;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #8a8a89;
}

.detailSpan {
  color: #191a15;
}

.about {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 0.875rem;
}

.readMore {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #191a15;
}

.info {
  width: 100%;
  max-width: 62rem;
}

.userAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(252, 131, 44, 0.2);
  border-radius: 6.25rem;
  width: 2.75rem;
  height: 2.75rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1;
  color: #fc832c;
}

.userName {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: #191a15;
  margin-bottom: 0.25rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  margin-top: 2.5rem;
}

.userLine {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.userStar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.userStarsCount {
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.28571;
  color: #191a15;
}

.userReview {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-top: 1rem;
}

.makeAppointment {
  background: #fc832c;
  border-radius: 1.875rem;
  padding: 0.875rem 2rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  min-height: 3rem;
  transition: all 0.3s ease;
  margin-top: 2.5rem;
}

.makeAppointment:hover {
  background: #f37113;
}

.makeAppointment:active {
  transform: scale(0.9);
}

.heart {
  transition: all 0.3s ease;
}

.heart:hover {
  scale: 1.1;
}

.heart:active {
  scale: 0.9;
}

.active {
  color: #fc832c;
}
