.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4.875rem;
  margin-bottom: 6.25rem;
  align-items: center;
  position: relative;
}

.glowCircle {
  position: absolute;
  top: -20%;
  left: 10%;
  width: 125rem;
  height: 50rem;
  background: radial-gradient(circle, #fc832c 0%, transparent 30%);
  filter: blur(6.25rem);
  opacity: 0.9;
  z-index: -1;
  overflow: hidden;
}

.infoWrap {
  width: 37.1875rem;
}

.title {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.025;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 1.25rem;
}

.titleSpan {
  font-style: italic;
  color: #fc832c;
}

.text {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 2.5rem;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 1.875rem;
  padding: 1.125rem 3.125rem;
  width: 14.6875rem;
  height: 3.75rem;
  gap: 1.125rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  background: #fc832c;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #f37113;
}

.btn:active {
  transform: scale(0.9);
}
