.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(25, 26, 21, 0.1);
}

.nav {
  padding-left: 8.125rem;
  padding-right: 21.5625rem;
}

.logo {
  margin-left: 8rem;
}

.authButtons {
  display: flex;
  gap: 0.5rem;
}

.logBtn {
  display: flex;
  align-items: center;
  border: 1px solid rgba(25, 26, 21, 0.2);
  border-radius: 1.875rem;
  padding: 0.875rem 2.4375rem;
  width: 7.75rem;
  height: 3rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #191a15;
  transition: all 0.3s ease;
}

.logBtn:hover {
  border-color: #fc832c;
}

.logBtn:active {
  scale: 0.9;
}

.regBtn {
  display: flex;
  align-items: center;
  background: #fc832c;
  border-radius: 1.875rem;
  padding: 0.875rem 2.5rem;
  width: 10.6875rem;
  height: 3rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: all 0.3s ease;
}

.regBtn:hover {
  background: #f37113;
}

.regBtn:active {
  scale: 0.9;
}

.logOutBtn {
  border: 1px solid rgba(25, 26, 21, 0.2);
  border-radius: 1.875rem;
  height: 3rem;
  width: 8.4375rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #191a15;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.logOutBtn:hover {
  border-color: #fc832c;
}

.logOutBtn:active {
  scale: 0.9;
}

.userBlock {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userIcon {
  background: #fc832c;
  border-radius: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  padding: 0.5rem;
}
