.navList {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 38px;
  margin-bottom: 38px;
}
.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #191a15;
  transition: all 0.3 ease;
  position: relative;
  display: inline-block;
}
.link.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fc832c;
}

.link:hover {
  color: #fc832c;
}
