.navList {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-top: 2.375rem;
  margin-bottom: 2.375rem;
}

.link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #191a15;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.link.active::after {
  content: "";
  position: absolute;
  bottom: -0.625rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fc832c;
}

.link:hover {
  color: #fc832c;
}
